<h1 align="center">All Articles</h1>

<%# This will_paginate the articles based on the method specified in the index method of the articles controller. %>
<%# The methods used to paginate come from gem 'will_paginate', '~> 3.1', '>= 3.1.6' gem 'bootstrap-will_paginate', '1.0.0' %>
<div align="center">
  <%= will_paginate %>
</div>

<%# Set the varible to your database records that you want to interate. %>
<%# Then renders our partial app/views/articles/_article.html.erb %>
<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>