<div class="container">
  <footer class="footer mt-5">
    <small>Copyright &copy; <%= link_to "Alpha Blog", "#" %> | <%= link_to "Rob Berryhill", "#" %></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>